<footer>

  <div class="derechos">
   <p> © {{ year }} Sweetly — Todos los derechos reservados. </p>
   <p>Todos los personajes están inspirados en obras de ficción populares. No están afiliados, licenciados ni respaldados por sus creadores originales. Este es un producto hecho a mano y no oficial.  </p>
  </div>

  <div>
    <a href="https://www.instagram.com/sweetly.amigurumis/" target="_blank" rel="noopener noreferrer">
      <i class="fab fa-instagram">  </i>
      Sweet.ly.Amigurumis
    </a>
  </div>

  <div class="direccion">
    <p><i class="fas fa-map-marker-alt"></i> Don Torcuato, Buenos Aires, Argentina</p>
    <p><i class="fas fa-phone-alt"></i>
      Tel: 011-5720-6739</p>
  </div>

</footer>
