footer {
    background-color: white;
    color: var(--text-color);
    padding: 100px 20px 100px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    a  {
        color: var(--text-color);
        text-decoration: none;

    }
}
