.full-width {
  width: 100%;
}

mat-card-title {
  margin-bottom: 20px;
  padding: 10px;
  color: var(--accent-color);
  font-size: var(--font-size-medium);
}

mat-card-subtitle {
  margin-bottom: 20px;
  color: var(--text-light-color);
}

.file-input {
  margin: 20px 0;
}

.file-name {
  margin-left: 10px;
  max-width: fit-content;
  overflow: hidden;
}

button {
  margin: 10px ;
}

.selected-file {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mat-card {
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}
