<div class="cart-container" *ngIf="cartItems.length > 0; else emptyCart">
  <h2>Tu Carrito</h2>
  <div *ngFor="let item of cartItems" class="cart-item">
    <img src="{{ item.imageUrl }}" alt="{{ item.name }}" class="item-image">
    <div class="item-info">
      <p>{{ item.name }}</p>
      <p>Precio: {{ item.precio | precio }}</p>

      <div class="quantity-controls">
        <button mat-icon-button color="primary" (click)="decrement(item)">
          <mat-icon>remove</mat-icon>
        </button>

        <p>{{ item.quantity }}</p>

        <button mat-icon-button color="primary" (click)="increment(item)">
          <mat-icon>add</mat-icon>
        </button>

        <button mat-icon-button color="primary" (click)="remove(item)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <p><strong>Subtotal:</strong> {{ item.precio * item.quantity | precio }}</p>
    </div>


  </div>

  <div class="descuentos-pago">
    <h3>Total: {{ getTotal() | precio }}</h3>
    <button mat-raised-button color="accent" class="boton-pago">Proceder al pago</button>
  </div>

</div>

<ng-template #emptyCart>
  <h2>Tu carrito está vacío</h2>
  <div class="descuentos-pago">
    <button mat-raised-button [routerLink]="['/productos']">Ir a productos</button>
  </div>
</ng-template>
