.productos-banner {
  background-color: var(--secondary-color);
  color: white;
  padding: 5rem;
  text-align: center;
  justify-content: center;

}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.productos-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

mat-card {
  margin: 1rem;
  width: 350px;

  mat-card-title {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}

mat-button-toggle-group {
  margin-top: 1rem;
}

mat-button-toggle {
  margin: 0 0.5rem;
  font-size: 1rem;
}

mat-card-actions {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin-top: 1rem;

  .cantidad-botones {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    border-radius: 15px;

    button {
      border-radius: 15px;
      padding: 0.5rem;
    }

  }

}
