<div class="productos-container">
  <!-- Banner de presentación -->
  <section class="productos-banner">
    <div class="text-container">
      <h1>Nuestros Productos</h1>
      <p>Descubre nuestros diseños únicos y personalizados de amigurumis.</p>
    </div>
  </section>



  <!-- Cuadrícula de productos -->
  <section class="productos-grid">
    <div class="product-card" *ngFor="let product of products">
      <mat-card appearance="outlined">
        <!-- Se utiliza la galería en lugar de una imagen fija -->
        <app-product-gallery [images]="product.images"></app-product-gallery>
        <mat-card-title>{{ product.name }}</mat-card-title>
        <mat-card-content>
          <p>{{ product.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" [routerLink]="['/producto', product.id]">Ver Detalles</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>

  <section class="productos-grid sets">
    <h1>Sets personalizados</h1>
    <div class="product-card" *ngFor="let set of sets">
      <mat-card appearance="outlined">
        <app-product-gallery [images]="set.images"></app-product-gallery>
        <mat-card-title>{{ set.name }}</mat-card-title>
        <mat-card-content>
          <p>{{ set.description }}</p>
          <p> {{ set.unidades }} (Incluye unidad tamaño grande)</p>
          <p> ${{ set.precio }} </p>
        </mat-card-content>
        <mat-card-actions>

          <button mat-button color="primary" [routerLink]="['/contacto', set.id]">Consultar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>

  <section class="productos-banner">
    <h3>No encontras tu Amigurumi?</h3>
    <p>Si no encontras el amigurumi que buscas, no dudes en contactarnos para realizar un pedido personalizado.</p>
    <button mat-raised-button color="primary" [routerLink]="['/contacto']">Contactar</button>
  </section>
</div>
