<nav class="nav-bar">
  <div class="nav-bar-items">
    <div class="logo">
      <a href="/">
        <img src="logos/logo.jpeg" alt="logo" />
      </a>
    </div>
    <div class="nav-bar-buttons">
      <div class="burger" (click)="toggleMenu()">
        <i [ngClass]="isMenuOpen ? 'fa-solid fa-xmark' : 'fa-solid fa-bars'"></i>
      </div>
      <div class="nav-bar-links" [class.is-open]="isMenuOpen">
        <a routerLink="/" (click)="closeMenu()">Inicio</a>
        <a routerLink="/productos" (click)="closeMenu()">Productos</a>
        <a routerLink="/como-lo-hacemos" (click)="closeMenu()">Como lo hacemos</a>
        <a routerLink="/contacto" (click)="closeMenu()">Contacto</a>
      </div>
    </div>
  </div>
</nav>
