/* Importar la fuente Red Rose desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;600&display=swap');
@import "@fortawesome/fontawesome-free/css/all.min.css";

/* Variables de colores en tonos pastel rosa */
:root {
  --primary-color: #ffb3c6; /* Rosa pastel principal */
  --secondary-color: #ffccd5; /* Rosa claro secundario */
  --tertiary-light-color: #ffd9e0; /* Rosa pastel suave */
  --background-color: #fff0f3; /* Fondo rosado suave */
  --text-color: #333333; /* Texto gris oscuro para contraste */
  --text-light-color: #868686; /* Texto blanco para contraste */
  --accent-color: #ff99ac; /* Rosa vibrante para detalles */
  --shadow-color: rgba(0, 0, 0, 0.1); /* Sombras suaves */

  /* Tipografía */
  --font-family: 'Fredoka', sans-serif, 'Red Rose', light;
  --font-size-base: 16px;
  --font-size-title: 55px;
  --font-size-large: 65px;
  --font-size-medium: 40px;
  --font-size-small: 14px;

  /* Espaciado */
  --padding-sm: 8px;
  --padding-md: 16px;
  --padding-lg: 24px;
  --margin-sm: 8px;
  --margin-md: 16px;
  --margin-lg: 24px;

  /* Bordes */
  --border-radius: 12px;
}

/* Aplicación global de la tipografía */
body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  font-size: var(--font-size-title);
  color: var(--text-color);
  margin: var(--margin-md);
}

h2 {
  font-size: var(--font-size-large);
  color: var(--accent-color);
  padding: 10px;
  word-wrap: break-word; /* Asegura que el texto se ajuste al contenedor */
  box-sizing: border-box; /* Incluye el padding en el tamaño total del elemento */
}

h3 {
  font-size: var(--font-size-base);
  color: var(--text-color);
  padding: var(--padding-sm);
  margin: var(--margin-sm);
}

p {
  color: var(--text-color);
}

.mat-tab-group.sweetly-tabs .mat-tab-header {
  display: flex;
  justify-content: center;
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 10;
}

.mat-tab-group.sweetly-tabs .mat-tab-label-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mat-tab-group.sweetly-tabs .mat-tab-list {
  background-color: #ffeef3;
  padding: 0.4rem 1rem;
  border-radius: 999px;
  display: inline-flex;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  overflow: visible !important;
}

.mat-tab-group.sweetly-tabs .mat-tab-label {
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  border-radius: 999px;
  color: #d46a8a;
  transition: all 0.3s ease;
}

.mat-tab-group.sweetly-tabs .mat-tab-label.mat-tab-label-active {
  background-color: #ffdce6;
  color: #b0345f;
  box-shadow: 0 0 0 2px #ffdce6;
}

.mat-tab-group.sweetly-tabs .mat-ink-bar {
  display: none !important;
}
