<div class="oferta">
  <a href="/productos">
    Aprovecha nuestra oferta de lanzamiento: ¡10% de descuento en tu primer pedido!
  </a>
</div>
<div class="home-container">
  <section class="home-container-main-banner">
    <div class="text-container">
        <div class="title-container">
          <h1>Sweet.ly</h1>
        </div>
      <h2>Hacé que tus momentos <br> sean mas tiernos y llenos de amor</h2>
      <h3 style="font-size: 24px;">con nuestros Amigurumis</h3>
      <button mat-raised-button [routerLink]="['/productos']">
        ¡Descubrí tus amigurumis!
      </button>
    </div>

    <img src="portada1.png" alt="Amigurumis Sweetly">
  </section>

  <section class="lineas">
    <div class="lineas-logos">
      <img src="lineas/digimon.png" alt="">
      <img src="lineas/disney.png" alt="">
      <img src="lineas/pokemon.png" alt="">
      <img src="lineas/starwars.png" alt="">
      <img src="lineas/BTS.png" alt="">
      <img src="lineas/lord.png" alt="">
      <img src="lineas/harrypotter.png" alt="">
      <img src="lineas/dragonball.png" alt="">
    </div>

  </section>

  <section class="elegi-favorito">

    <div class="text-container text-container-elegi">
      <h2>Elegí tu nuevo favorito</h2>
      <p>ó hace tu pedido 100% personalizado</p>
    </div>
    <div class="img-favoritos">
      <img src="favoritos/portada.jpeg" alt="Amigurumi Tacky">
      <img src="favoritos/messi-1.jpeg" alt="Amigurumi Niña">
      <img src="favoritos/bubu.jpeg" alt="Amigurumi Baby Yoda">
    </div>
    <button mat-raised-button [routerLink]="['/productos']">Ver todo el catálogo</button>

  </section>

  <section class="info">
    <div class="cards">
      <mat-card appearance="outlined">
        <img src="info/entregas.png" alt="">
        <p style="font-weight: bold;">Envios a todo el pais</p>
      </mat-card>

      <mat-card appearance="outlined">
        <img src="info/corazon.png" alt="">
        <p style="font-weight: bold;">Unite a los 1.812 <br> que ya tienen el suyo</p>
      </mat-card>

      <mat-card appearance="outlined">
        <img src="info/peluche.png" alt="">
        <p style="font-weight: bold;">Hacemos tu personaje favorito a pedido!</p>
      </mat-card>

    </div>
  </section>

  <section class="home-gallery-section">
    <app-home-gallery></app-home-gallery>
  </section>

  <section class="testimonios-section">
    <div class="text-container">
      <h2>Testimonios de nuestros clientes</h2>
      <p>Muñecos artesanales tejidos a crochet, de origen japonés, que cautivan con su ternura y vibrante colorido.</p>
      <p>Perfectos para regalar a niños y adultos, ¡dale un toque de magia a tus momentos!</p>
    </div>
    <div class="quotes">
      <blockquote class="testimonial">
        <img src="clientes/persona1.jpeg" alt="Ana cliente">
        <p>“¡Están geniales estos peluchitos! Me sorprendió lo lindos que son en persona. Llegaron rapidísimo y ya los recomendé a mis amigos.”</p>
        <footer>– Ana, clienta de Sweet.Ly</footer>
      </blockquote>
      <blockquote class="testimonial">
        <img src="clientes/persona3.jpeg" alt="Javier cliente">
        <p>“Pedí un amigurumi personalizado y quedó espectacular. Encima me asesoraron un montón, la verdad que vale cada peso.”</p>
        <footer>– Javier, cliente de Sweet.Ly</footer>
      </blockquote>
      <blockquote class="testimonial">
        <img src="clientes/persona2.jpeg" alt="Clementina cliente">
        <p>“No sabés lo feliz que quedó mi sobrina con el amigurumi que le regalé. ¡Está chocha! La calidad es impresionante y la atención, de diez.”</p>
        <footer>– Clementina, clienta de Sweet.Ly</footer>
      </blockquote>
    </div>
  </section>

  <section class="contacto">
    <div class="text-container">
      <app-contacto></app-contacto>
    </div>
  </section>

</div>
