.home-container-main-banner {
  display: flex;
  justify-content: space-around;
  background-color: #f5f5f5;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

h2 {
  font-size: var(--font-size-large);
  color: var(--accent-color);
  max-width: 900px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.oferta{
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  background-color: var(--secondary-color);
  padding: 8px;


  a {
    margin: 0px;
    padding: 2px;
    color: black;
    text-decoration: none;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: left;
}

.testimonios-section {
  background-color: var(--tertiary-light-color);
}

.quotes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.testimonial {
  display: flex;
  width: 150px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 40px;
  border-radius: 20px;

  img {
    max-width: 150px;
  }

  footer {
    font-weight: 550;
    font-size: 12px;
  }
}

img {
  width: 100%;
  height: 100%;
  max-width: 400px;
  border-radius: 50%;
  object-fit: cover;
  align-self: center;
}

.elegi-favorito {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.elegi-favorito .img-favoritos {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
  flex-wrap: wrap;


  img {
    object-fit: cover;
    height: 400px; /* Ajusta la altura según necesites */
    width: 400px; /* Ajusta el ancho según necesites */
    border-radius: 20px;
    padding: 10px;
  }
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px;
}

.cards mat-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 300px;
  align-content: center;
  text-align: center;
  padding: 10px;
}

.cards img {
  object-fit: fill;
  width: 100%;
  max-width: 100px;
  height: 100px;
  border-radius: 0px;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

form mat-form-field {
  width: 100%;
  padding: 10px;
}

/* Estilo para secondary-banner */
.secondary-banner {
  background: #fff5f7;              /* Fondo pastel suave */
  padding: 40px 20px;               /* Espaciado interno */
  border-radius: 8px;               /* Bordes redondeados */
  text-align: center;               /* Centrar el contenido */
  margin: 40px auto;                /* Centramos y separamos verticalmente */
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.secondary-banner .text-container {
  max-width: 800px;                 /* Limitar el ancho del contenido */
  margin: 0 auto;
}

.secondary-banner h2 {
  font-size: 2rem;                  /* Tamaño para el título */
  color: var(--primary-color);      /* Color de texto */
  margin-bottom: 20px;
}

.secondary-banner p {
  font-size: 1.1rem;                /* Tamaño de fuente para párrafos */
  color: #555;                      /* Color de texto */
  line-height: 1.6;                 /* Altura de línea */
  margin-bottom: 10px;
}

.home-gallery-section {
  background-color: #f5f5f5;
}

/* Mobile */
@media screen and (max-width: 1024px) {
  h2 {
      font-size: var(--font-size-medium);
  }

  .home-container-main-banner {
      flex-direction: column;
  }

}

@media screen and (max-width: 768px) {
  h2 {
      font-size: 40px; /* Tamaño corregido para pantallas pequeñas */
  }
  .home-container-main-banner {
      padding: 10px;
      align-items: center;
  }

  .text-container {
      padding: 10px;
      text-align: center;
  }

  .testimonial {
      width: 100%;
  }
}
