<div class="floating-buttons-container">
  <!-- Botón flotante WhatsApp -->
  <a
    class="floating-button whatsapp"
    href="https://wa.me/5491157206739?text=Hola%20Sweetly!%20Vi%20tus%20amigurumis%20y%20quiero%20hacer%20un%20pedido."
    target="_blank"
    rel="noopener noreferrer"
  >
    <i class="fab fa-whatsapp"></i>
  </a>

  <!-- Botón flotante Instagram -->
  <a
    class="floating-button instagram"
    href="https://www.instagram.com/sweetly.amigurumis/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <i class="fab fa-instagram"></i>
  </a>
</div>
